mixin article(art)
	.Article
		h1=art.titlee
		h2=art.subtitle
		p=art.contentt

.Portfolio
	.Portfolio-header
		include ../header/template.jade
	.Portofolio-main
		each art in [{titlee: 'HTL', subtitle: 'Core', contentt: 'Lorem ipsum'},{titlee: 'HTML', subtitle: 'Core', contentt: 'Lorem um'}]
			+article(art)
	.Portofolio-footer