.Layout
	position relative
	&-title		
		height: 95 vh
		display: flex
	&-navTop
		position: absolute
		right 1rem
		top 1rem
	&-services
	&-contact
	&-techno
		position: absolute
		width: 33.33vw
		bottom 1rem
	&-techno		
		z-index: 2		
	h1
		font-size: 3em
		margin auto
		padding-bottom 2em
		text-transform: uppercase
		

.status1
	width 10vw
	margin-left 11.5vw	
	text-align: center
	transition: .2s
.status2
	width 10vw
	margin-left 1vw
	margin-top -85vh
	transition: .2s
	font-size 2rem	
	
.status1--contact
	margin-left 44.8vw	
.status1--services
	margin-left 78.1vw

.status2--contact
	margin-left 44.8vw	
.status2--services
	margin-left 85vw
	margin-top -85vh
	font-size 2rem	
