.Layout
	width 100vw
	overflow: hidden
	.description 
		margin-left 135px
		text-transform: uppercase
		
			
	// position relative
	&-title		
		height: 95vh
		display: flex
	&-navTop
		position: absolute
		right 1rem
		top 1rem
	&-services
	&-contact
	&-techno
		// position: relative
		width: 33.33vw
		bottom 1rem	
		// overflow: hidden	
		// text-align: center
	&-techno		
		z-index: 2
	&-contact
		width: 100vw
	&-test
		display flex
		justify-content: space-arround
	&-techno_content
	&-services_content
	&-contact_content
		position: absolute
		top 7rem
		left 45px
		z-index: 5
		max-height: 65vh
		overflow scroll
		padding 2rem
		width 28vw
		border-left 1px solid black
		display: none
		// background-color alpha(black, .1)
		li 
			font-size: 1rem
			margin-bottom .5rem
			
	&-services_content
		left 64vw
		border-right 1px solid black
		border-left 0px solid black
		width 30vw
		text-align: right
		min-height: 65vh
	&-techno_content
		width 20vw

	&-h1
		font-size: 3em
		margin auto
		padding-bottom 2em
		text-transform: uppercase
	&-footer
		width: 100%
		background-color black
		overflow: hidden
	

.status1:hover
	text-decoration underline
.status2:hover
.status2--services:hover
.status2--contact:hover	
	text-decoration none
	


.status1
.status1--services
	position relative
	text-align center
	transition .2s
	font-weight 400
	cursor pointer
	font-size 1.2rem
	top 0
	z-index: 6


.status2
	top -85vh
	// left 40px
	padding-left 70px
	margin 0
	transition .2s
	font-size 2rem
	color grey
	
.status2--services
	top -85vh
	// left 40px
	// padding-right 70px
	margin 0
	transition .2s
	font-size 2rem
	color grey
	


.status2:after
	content: "\e5cf"
	padding-top .5rem
	font-family: 'icomoon' !important
	
.status2--services:after
	content: "\e5cf"
	padding-top .5rem
	font-family: 'icomoon' !important
.status2--contact
	margin-top -52vh
	font-size 2rem
	color grey

.status3--contact
	margin-top -74vh
	transition 1s
.status2--logo
	padding-bottom 59vh
	transition 1s
.icon-logo1
	width 1em
	position: absolute
	left 0
	right 0
	margin-left auto
	margin-right auto
	top 4vh
	display none
	font-size: 4rem

	
// @media (max-width: 850px)
// 	.technoh2
// 		margin-right 0
// 	.status1--services
// 		margin-left 0

		
@media (max-width: 600px)
	.Layout
		&-navTop
			position: absolute
			right 0
			top 0
			background-color black
		&-techno_content
		&-services_content
			width 83vw
			background-color white
			left 8vw
			top 7rem
			text-align: left
			display: none	
			margin-right: 45vw
		&-services_content
			border-left 1px solid black
	.status2
	.status2--services
		// margin-right 13vw
		position: absolute;
		left: 4rem;
		top 4.5rem
		padding 0
		padding-right 2rem
		background-color white
	
