.Layout
	position relative
	&-title		
		height: 95 vh
		display: flex
	&-navTop
		position: absolute
		right 1rem
		top 1rem
	&-services
		position: absolute
		width: 33.33vw
		bottom 1rem
		left 0 
		// border 1px solid black
		.test2
			width 10vw
			margin-left 11.5vw
			// margin-right 11.5vw
			// margin 0 auto
			text-align: center
			transition: .5s
		.test
			width 10vw
			// margin-right auto
			// margin 0 auto
			// text-align: center	
			// margin-right 18vw

			margin-left 1vw
			margin-top -85vh
			transition: .5s
			font-size 2rem
	&-contact
	&-technologies
		
		// left 1rem
		
	h1
		font-size: 3em
		margin auto
		padding-bottom 2em
		text-transform: uppercase
		

	