.Layout
	.Layout-title
		h1 Pandawebs
	nav.Layout-navTop
		include ../navtop/template.jade
	.Layout-services
		h2.servh2.test2 Servicios
	//- .Layout-contact
	//- 	h2 Contacto
	//- .Layout-technologies
	//- 	h2 tecnologías
