.Layout
	.Layout-title
		h1 Pandawebs
	nav.Layout-navTop
		include ../navtop/template.jade
	.Layout-techno
		.Layout-techno_content
		h2.technoh2.status1 tecnologías
	.Layout-contact
		.Layout-contact_content
		h2.contacth2.status1.status1--contact Contacto
	.Layout-services
		.Layout-services_content
		h2.servicesh2.status1.status1--services Servicios
	
	
