.Layout
	.Layout-title
		span.Layout-logo 
		h1.Layout-h1 Pandawebs
	nav.Layout-navTop
		include ../navtop/template.jade
	.Layout-techno
		h2.technoh2.status1 Tecnologías
		.Layout-techno_content
			ul
				li HTML
				li CSS
				li JavaScript
				li Git
				li Jade
				li Stylus
				li Page
				li Gulp
				li Browserify
				li Node.js
				li Express
				li MongoDB
				li Analytics
				li Adwords
				li Wordpress
				li Ghost
		
	.Layout-contact
		


		h2.contacth2.status1.status1--contact Contacto
	.Layout-services
		h2.servicesh2.status1.status1--services Servicios
		.Layout-services_content
			ul
				li Desarrollo de websites
				li Desarrollo de apps				
				li Analítica web
				li Estrategia digital
				li Publicidad
				li SEO
				li Manejo de Base de Datos
				li Sitios autoadministrables
				li Geolocalización				
				li Administración de Redes Sociales
				li Email Marketing
				li Express
				li MongoDB
				li Analytics
				li Adwords
				li Wordpress
				li Ghost
			
		
	
	
