.Footer
	.Footer-left
		.Footer-title
			h1 PANDAWEBS
			span.icon-panda
		.Footer-copy
			small © 2016 Otra idea de 
				a(href="http://aguja2013.com/", target="blank") aguja-20-13
			small por Agustín Palmieri. 
				a(href="#") @agujex
	.Footer-center
		h5 Links
		.Footer-map
			ul
				li
					a(href="/") Home
				li
					a(href="/") Servicios
				li
					a(href="./portfolio") Portfolio
				li
					a(href="/") Tecnologías
				
				//- li
				//- 	a(href="") Dirección
			ul
				li
					a(href="http://old.pandawebs.net/", target='blank') Blog
				li
					a(href="#") Temas Wp
				li
					a(href="https://www.youtube.com/channel/UC-NNIJ7HusI2IBLcvpSGhsA", target='blank') Tutoriales
				li
					a(href="/") Contacto
				//- li
				//- 	a(href="") Whatsapp
			
			ul
				li
					a(href="https://github.com/agustinpfs", target='blank') Github
				li
					a(href="#", target='blank') Linkedin
				li
					a(href="https://www.facebook.com/pandawebs.net/", target='blank') Facebook
				li
					a(href="https://twitter.com/agujex", target='blank') Twitter
				li
					a(href="https://plus.google.com/b/111766923905860371228/+PandawebsNet/posts", target='blank') Google+
				//- li
				//- 	a(href="") Trabaja en Pandawebs
	.Footer-right
		.Footer-social
			h5 Social
			ul 
				li
					a(href="https://github.com/agustinpfs", target='blank').icon-github
				li
					a(href="#").icon-linkedin
				li
					a(href="https://twitter.com/agujex", target='blank').icon-twitter
				li
					a(href="https://plus.google.com/b/111766923905860371228/+PandawebsNet/posts", target='blank').icon-google-plus2
			ul
				li
					a(href="https://www.facebook.com/pandawebs.net/", target='blank').icon-facebook2
				li
					a(href="#").icon-skype
				li
					a(href="https://www.youtube.com/channel/UC-NNIJ7HusI2IBLcvpSGhsA", target='blank').icon-youtube
				li
					a(href="#").icon-youtube
		.Footer-leyend
			em
				p 
					| "Reconocer la necesidad es la principal

				p 
					| condición para el diseño.-Charles Eames"

