.Footer
	.Footer-left
		.Footer-title
			h1 PANDAWEBS
			span.icon-panda
		.Footer-copy
			small © 2016 Otra idea de 
				a(href="#") aguja-20-13
			small por Agustín Palmieri. 
				a(href="#") @agujex
	.Footer-center
		h3 Mapa del sitio.
		.Footer-map
			ul
				li
					a(href="") Home
				li
					a(href="") Servicios
				li
					a(href="") Portfolio
				li
					a(href="") Tecnologías
				li
					a(href="") Contacto
				li
					a(href="") Dirección
			ul
				li
					a(href="") Blog
				li
					a(href="") Temas Wp
				li
					a(href="") Tutoriales
				li
					a(href="") Whatsapp
				li
					a(href="") Contacto
				li
					a(href="") Dirección
			ul
				li
					a(href="") Github
				li
					a(href="") Linkedin
				li
					a(href="") Facebook
				li
					a(href="") Twitter
				li
					a(href="") Google+
				li
					a(href="") Trabaja en Pandawebs
	.Footer-right
		.Footer-social
			h3 Social
			ul 
				li
					a(href="#").icon-github
				li
					a(href="#").icon-linkedin
				li
					a(href="#").icon-twitter
				li
					a(href="#").icon-google-plus2
			ul
				li
					a(href="#").icon-facebook2
				li
					a(href="#").icon-skype
				li
					a(href="#").icon-youtube
				li
					a(href="#").icon-youtube
		.Footer-leyend
			em
				p "Lo que somos capaces de sentir, 
			
				p somos capaces de decir.-Cervantes."