.NavBottom
	display flex
	justify-content: space-around
	position relative
	
	&-services
	&-contacto
	&-technologies
		position relative
		width: 33%
		text-align: center
		transition 2s
		
// .op
// 	position absolute
// 	font-weight: 400
// 	font-size: 1.2rem
// 	top -1vh
// 	transition 2s
	
// 	// margin-left: auto
// 	// margin-right: auto
// 	// left:0
// 	// right:0
// 	// width 100%
	
// 	// margin 0 auto
// .kajsdfhg
// 	text-align: left
// 	transition 2s
			
// .services-mov
// 	position absolute	
// 	top -81vh
// 	color green
// 	transition 2s
// 	font-size: 2rem

	// 	display inline-block
	// 	text-align: center
	// &-services
	// .h2p
	// 	position: absolute
	// 	top: -85vh
	// 	font-size 2rem
	// 	left 1rem
	// 	transition: 2s
	// 	ul 
	// 		position: absolute
	// 		top -75vh
	// 		font-size 2rem
	// 		left 1rem
			

// p {
//   animation-duration: 3s;
//   animation-name: slidein;
// }

// @keyframes slidein {
//   from {
//     margin-left: 100%;
//     width: 300%
//   }

//   to {
//     margin-left: 0%;
//     width: 100%;
//   }
// }