<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Document
		link(rel="stylesheet", href="./public/css/style.css")
	body
		//- include ./layout/template.jade
		.app-container
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
		script(src="public/app.js")

	