@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700')
@import "normalize"
@import "./layout/styles.styl"
@import "./navtop/styles.styl"

black = #333
white = #fafafa

body
	background: white
	font-family: 'Roboto Condensed', sans-serif
	color black



	
