black = #333
white = #fafafa
grey = #999
facebook = #3b5998
twitter = #00aced
google = #d34836
youtube = #e52d27
linkedin = #0077B5
skype = #00aff0

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700')
@import url('https://fonts.googleapis.com/css?family=Roboto:400,300')
@import "normalize"
@import "./layout/styles.styl"
@import "./navtop/styles.styl"
@import "./navbottom/styles.styl"
@import "./contact/styles.styl"
@import "fonts.styl"
@import "general.styl"
@import "./footer/styles.styl"
@import "./header/styles.styl"
@import "./article/styles.styl"
@import "./portfolio/styles.styl"



body
	background: red
	font-family: 'Roboto Condensed', sans-serif
	color black
	// width 100vw
	



	
