.Article
	display flex 
	margin-top 1rem
	&-shot		
		width: 250px
		height: 250px
		position: relative
		overflow: hidden
		&_footer
			position: absolute
			background-color black
			width: 100%
			color white
			bottom 0
			font-size: 1.5rem
			z-index: 1
		&_opacity
			position: absolute
			background-color alpha(black, .5)