.Article
	.Article-shot
		a(href="")
			figure
				img(src="public/assets/img/shot-rev.png", alt="")
			.Article-shot_footer
				span 
					| captura
			.Article-shot_opacity
				span
					|visit	
	.Article-description
		h2 Revolution
		p
			| Sitio web adaptable a dispositivos móviles.
			| Cuenta con animaciones en 3D y sitema interactivo para la elección del producto.
		h3 Tecnologías
		ul
			li HTML5
			li Css3
			li Javascript
			li JQuery
			li Css3
			li Css3
		button visitar sitio
		button visitar código
