.Article
	.Article-shot
		figure
			img(src="public/assets/img/shot-rev.png", alt="")
		.Article-shot_footer
			span 
				| captura
		.Article-shot_opacity
	.Article-description
		p
			| hola que poquito faso guallevá!
