.Article
	.Article-shot
		a(href="")
			figure
				img(src="public/assets/img/shot-rev.png", alt="")
			.Article-shot_footer
				span=artic
			.Article-shot_opacity
				span=artic
	.Article-description
		h2= book.name
		p=ar
		h3 Tecnologías
		ul
			li HTML5
			li Css3
			li Javascript
			li JQuery
			li Css3
			li Css3
		button visitar sitio
		button visitar código