.Contact	
	width 60vw
	border 1px solid #999
	position absolute
	left 0
	right 0
	margin-left auto
	margin-right auto
	margin-bottom 1rem
	top 30vh
	z-index 4
	display none
	padding .5rem
	z-index: 6
	a 
		color #999
		font-size 1rem
		text-decoration none
	h3
		a 
			color black
	&-form
		margin-top .5rem
	&-input
		margin-bottom .5rem
	&-textarea
		width 97%
		height 200px
		// margin-bottom .5rem
	ul 
		display flex 
		justify-content space-around 
		margin-bottom .5rem
		margin-top .5rem
	li 
		.icon-github:hover
			color black
		.icon-linkedin:hover
			color linkedin
		.icon-twitter:hover
			color twitter
		.icon-google-plus2:hover
			color google
		.icon-facebook2:hover
			color facebook
		.icon-skype:hover
			color skype
		.icon-youtube:hover
			color youtube
		
.x
	position: absolute
	top -33px
	right 0
	font-size: 2rem
	// background-color black
	// color white
	margin 0
	cursor pointer

@media (max-width: 850px)
	.Contact
		width 75vh

@media (max-width: 550px)
	.Contact
		width 55vh

