.Contact
	form.Contact-form(action='x', method='post')
		input#nombre.Contact-input(type='text', name='nombre', required='', placeholder='nombre')
		br
		input#email.Contact-input(type='email', name='email', required='', placeholder='e-mail')
		br
		textarea#mensaje.Contact-textarea(name='mensaje', required='', placeholder='mensaje')
		br
		input#submit.Contact-input(type='submit', name='submit', value='Enviar')