.Header
	background-color black
	color: white 
	display: flex 
	justify-content: space-between
	align-items: center
	&-logo
		padding: .5rem
	&-menu
		width: 30vw
		ul 
			display: flex 
			justify-content: space-between
			margin-right .5rem
		
			

	